<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{wearivalayout::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <section class="py-3 px-6 relative">
      
      <div class="p-5 border rounded-lg bg-darknavi text-white">
        <p>Hello,</p>
        <h1 class="text-4xl lg:text-5xl">[[${authenticatedUser.name}]]</h1>
        <p class="pl-16">This is your Dashboard</p>
      </div>

      <div class="grid grid-cols-4 gap-2 mt-3">
        <div
          class="rounded-lg flex flex-col items-center justify-between shadow-sm shadow-slate-300 px-1 lg:px-3 py-2 bg-slate-100"
        >
          <h4 class="text-xs sm:text-sm md:text-lg lg:text-xl">Revenue</h4>
          <p
            class="text-xs sm:text-sm md:text-lg xl:text-4xl first-letter:text-navi"
          >
            $ [[${revenue}]]
          </p>
        </div>
        <div
          class="rounded-lg flex flex-col items-center justify-between shadow-sm shadow-slate-300 px-1 lg:px-3 py-2 bg-slate-100"
        >
          <h4 class="text-xs sm:text-sm md:text-lg lg:text-xl">Outstanding</h4>
          <p
            class="text-xs sm:text-sm md:text-lg xl:text-4xl first-letter:text-navi"
          >
            $ [[${outstanding}]]
          </p>
        </div>
        <div
          class="rounded-lg flex flex-col items-center justify-between shadow-sm shadow-slate-300 px-1 lg:px-3 py-2 bg-slate-100"
        >
          <h4 class="text-xs sm:text-sm md:text-lg lg:text-xl">Sales</h4>
          <p
            class="text-xs sm:text-sm md:text-lg xl:text-4xl first-letter:text-navi"
          >
            [[${sales}]]
          </p>
        </div>

        <div
          class="rounded-lg flex flex-col items-center justify-between shadow-sm shadow-slate-300 px-1 lg:px-3 py-2 bg-slate-100"
        >
          <h4 class="text-xs sm:text-sm md:text-lg lg:text-xl">Total Orders</h4>
          <p
            class="text-xs sm:text-sm md:text-lg xl:text-4xl first-letter:text-navi"
          >
            [[${orders}]]
          </p>
        </div>
      </div>
      <div class="grid grid-cols-5 gap-2 mt-3">
        <div
          class="rounded-lg flex flex-col items-center justify-between shadow-sm px-1 lg:px-3 py-2 bg-darknavi"
          th:each="entry : ${orderDetails}"
        >
          <h4
            class="first-letter:capitalize text-white text-[11px] sm:text-sm md:text-lg lg:text-xl text-center"
          >
            [[${entry.key.toString().toLowerCase()}]]
          </h4>
          <p class="text-lg xl:text-4xl text-lightgrey">[[${entry.value}]]</p>
        </div>
      </div>
      <hr class="my-3" />
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
        <div
          class="min-h-80 max-h-96 w-full text-center relative py-1 mx-auto shadow"
        >
          <h2 class="text-2xl">Product Count By Category</h2>
          <div class="absolute top-10 right-0 bottom-0 left-0 p-1">
            <canvas
              id="categoryChart"
              class="absolute top-0 right-0 bottom-0 left-0 w-[50%] mx-auto"
            ></canvas>
          </div>
        </div>
        <div
          class="min-h-80 max-h-96 w-full text-center px-5 py-1 mx-auto rounded-lg shadow"
        >
          <h2 class="text-2xl">Total Sales By Category</h2>
          <canvas id="salesChart" style="width: 100%"></canvas>
        </div>
      </div>
      <script th:inline="javascript">
        /*<![CDATA[*/
        let labels = /*[[${categoryNames}]]*/ []; // e.g., ["Jan", "Feb", "Mar"]
        let data = /*[[${categoryValues}]]*/ []; // e.g., [150, 200, 100]

        const ctx = document.getElementById("categoryChart").getContext("2d");
        new Chart(ctx, {
          type: "doughnut",
          data: {
            labels: labels,
            datasets: [
              {
                data: data,
                backgroundColor: [
                  "#002147",
                  "#003067",
                  "#003F86",
                  "#004DA5",
                  "#005CC5",
                ],
                borderWidth: 4,
              },
            ],
          },
        });
        /*]]>*/
      </script>
      <script th:inline="javascript">
        /*<![CDATA[*/
        let salesLabels = /*[[${salesKeys}]]*/ []; // e.g., ["Jan", "Feb", "Mar"]
        let salesData = /*[[${salesValues}]]*/ []; // e.g., [150, 200, 100]

        salesData = salesData.map((item) => item + 20);

        const ctx1 = document.getElementById("salesChart").getContext("2d");
        new Chart(ctx1, {
          type: "bar",
          data: {
            labels: salesLabels,
            datasets: [
              {
                label: "Total Sales",
                data: salesData,
                backgroundColor: [
                  "#002147",
                  "#003067",
                  "#003F86",
                  "#004DA5",
                  "#005CC5",
                ],
                borderWidth: 3,
              },
            ],
          },
          options: {
            responsive: true,
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
        /*]]>*/
      </script>
      <div
        class="w-full p-3 py-2 my-5 text-xs lg:text-sm shadow border rounded-lg"
      >
        <h2 class="py-1 my-1 border-b border-darknavi text-xl">Product List</h2>
        <div class="w-full table px-3">
          <div class="text-left table-row font-bold">
            <p class="table-cell px-2 text-navi">Sr No.</p>
            <p class="table-cell px-2 text-navi">Name</p>
            <p class="table-cell px-2 text-navi">Catgory</p>
            <p class="table-cell px-2 text-navi">Stock</p>
          </div>
          <a
            th:each="product,stat:${products}"
            class="table-row rounded-lg border-b hover:bg-darknavi hover:text-white duration-300 hover:py-1 hover:cursor-pointer"
            th:classappend="${product.stock < 20 ?'bg-red-200':''}"
            th:href="@{'/admin/editproduct/'+${product.productId}}"
          >
            <p class="table-cell px-2">[[${stat.index + 1}]]</p>
            <p class="table-cell px-2">[[${product.name}]]</p>
            <p class="table-cell px-2">[[${product.category}]]</p>
            <p class="table-cell px-2">[[${product.stock}]]</p>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
