@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset !important; /* Replace 'white' with your desired background color */
  -webkit-text-fill-color: #000 !important; /* Optional: Set your text color */
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: none;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background-color: rgb(36, 36, 36);
  border-radius: 5rem;
}

@layer utilities {
  ul#filterSideBar.active {
    left: 0;
  }
  .profile {
    right: -2rem;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  .profile.active {
    right: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      left: -1000px;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      left: -1000px;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
  .slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  .fade-in {
    -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 2.5s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .slide-in-top {
    -webkit-animation: slide-in-top 0.5s ease-in-out both;
    -webkit-animation-delay: var(--delay);
    animation: slide-in-top 0.5s ease-in-out both;
    animation-delay: var(--delay);
  }
  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}
