<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404Page</title>
    <link rel="stylesheet" href="" data-th-href="@{/css/output.css}" />
  </head>
  <body class="min-h-screen  bg-[url('/images/forget.jpg')] flex flex-col justify-center  items-center">
    <div
      class="bg-white/20 backdrop-blur-md absolute top-0 right-0 bottom-0 left-0 text-center flex justify-center rounded-3xl shadow-md flex-col items-center"
    >
      <h1 class="text-6xl text-darknavi"><span class="text-navi">404</span> Error!</h1>
      <p class="text-xl">The Page you are looking for is not available.</p>
    </div>
  </body>
</html>
