<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{wearivalayout::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <section class="">
      <div class="py-3">
        <div
          class="border-b border-blue-700 shadow-md rounded-2xl w-[50%] mx-auto p-3 px-11"
        >
          <h1 class="text-2xl text-center first-letter:text-blue-500">
            Change Password
          </h1>
          <form action="/resetPassword" method="post">
            <div class="flex flex-col mb-2">
              <label for="username" class="text-sm first-letter:text-gray-700"
                >Username</label
              >
              <input
                type="text"
                id="username"
                name="username"
                contenteditable="false"
                th:value="${username}"
                class="px-6 py-1 bg-transparent focus:outline-none border-b border-gray-900"
              />
            </div>
            <div class="flex flex-col mb-2">
              <label
                for="newpassword"
                class="text-sm first-letter:text-gray-700"
                >New Password</label
              >
              <input
                type="password"
                id="newpassword"
                name="newpassword"
                class="px-6 py-1 bg-transparent focus:outline-none border-b border-gray-900"
              />
            </div>
            
            <button
              class="bg-blue-100 py-1 rounded-full text-lg hover:font-bold hover:bg-blue-300 hover:shadow-inner w-full hover:shadow-blue-900 duration-100"
            >
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
