<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{wearivalayout::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      class="fixed top-0 right-0 left-0 bottom-0 pb-8 px-6 bg-[url('/images/forget.jpg')] bg-cover bg-center fade-in flex justify-center items-center p-6"
    >
      <th:block th:if="${session.error}">
        <div
          class="absolute top-2 right-5 left-5 w-[48%] mx-auto text-center p-3 font-bold bg-gray-200 shadow-md"
        >
          <p class="">[[${session.error}]]</p>
          <th:block>
            [[${@categoriesServicesImpl.removeSessionMessage()}]]</th:block
          >
        </div>
      </th:block>
      <th:block th:if="${session.success}">
        <div
          class="absolute top-2 right-5 left-5 w-[48%] mx-auto text-center p-3 font-bold bg-gray-200 shadow-md"
        >
          <p class="">[[${session.success}]]</p>
          <th:block>
            [[${@categoriesServicesImpl.removeSessionMessage()}]]</th:block
          >
        </div>
      </th:block>

      <th:block th:if="${session.wrongotp}">
        <div
          class="absolute top-2 right-5 left-5 w-[48%] mx-auto text-center p-3 font-bold bg-gray-200 shadow-md"
        >
          <p class="">[[${session.wrongotp}]]</p>
          <th:block>
            [[${@categoriesServicesImpl.removeSessionMessage()}]]</th:block
          >
        </div>
      </th:block>

      <div
        class="flex justify-center items-center absolute top-0 right-0 bottom-0 left-0 backdrop-blur-xl"
      >
        <div
          class="rounded-xl w-[90%] md:w-[80%] lg:w-[70%] xl:w-[50%] mx-auto p-6 transition-all duration-300"
        >
          <h2 class="text-4xl text-center">Weariva</h2>
          <p class="text-center">Clothes & Acccessories</p>
          <h3 class="text-center text-xl">Reset Password</h3>
          <div class="px-10 sm:p-1">
            <form
              th:action="@{/confirmuser}"
              method="post"
              class="flex flex-col gap-2"
            >
              <div class="flex flex-col mb-2">
                <input
                  type="text"
                  id="username"
                  name="username"
                  placeholder="Enter the valid username"
                  class="px-7 py-2 border border-darknavi placeholder:text-stone-800 bg-transparent focus:outline-none rounded-3xl"
                />
              </div>
              <button
                class="bg-darknavi py-2 rounded-full text-xl text-white hover:bg-lighnavi duration-500"
              >
                Confirm Email
              </button>
            </form>
          </div>
        </div>
      </div>
     
    </section>
  </body>
</html>
